html {
  font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,"SimSun","sans-serif";    
}
body {
    transition: all 0.3s ease;
}

.nav {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  font-size: .875rem;
  z-index: 100;
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.nav ul li {
  list-style: none;
  color: #2b2e33;
  cursor: pointer;
}
.nav .nav-logo a {
  display: inline-block;
}
.nav .nav-logo a img {
  width: 6.25rem;
  object-fit: cover;
  vertical-align: middle;
}
.nav ul li:hover {
  color: #1887e0;
  font-weight: 700;
}
.nav .nav-more {
  position: relative;
  color: #2b2e33;
}
.nav .nav-more:hover {
  color: #2b2e33;
}
.nav .nav-more:hover .nav-more-menu {
  visibility: visible;
  opacity: 1;
}
.nav .nav-more-menu {
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 6px;
  min-width: 18.75rem;
  min-height: 6.25rem;
  padding: .625rem 1.25rem;
  z-index: 1;
}
.nav .nav-more-menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .625rem 1.875rem;
  justify-items: start;
  align-items: center;
}
.nav .nav-more-menu ul li {
  list-style: none;
  color: #2b2e33;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  white-space: nowrap;
}
.nav .nav-bar {
  display: none;
}

.banner {
  width: 100%;
  height: 12.5rem;
  background: linear-gradient(179deg,#2094f0,#1887e0 53%);
  margin-bottom: .625rem;
}
.banner .banner-bg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../img/header-banner-2x.jpg") no-repeat center;
  background-size: contain;
  text-shadow: 0rem .125rem .125rem rgba(0,0,0,0.06);
  color: #fff;
}
.banner .banner-bg h1 {
  font-size: 2.375rem;
  line-height: 2.875rem;
}
.banner .banner-desc {
  display: none;
}
.banner .banner-desc-2 {
  margin-top: .5rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
}

.main {
  width: 74%;
  /* width: 73.75rem; */
  margin: 0 auto;
  padding: 1.25rem 1.875rem;
}
.test-region {
  padding: .9375rem 1.25rem;
  background: #f7f9fa;
  margin-bottom: 1.875rem;
}
.test-region ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.test-region ul li {
  font-size: .875rem;
  color: #333;
  line-height: 2rem;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: .3125rem;
  padding: 0 .625rem;
}
.selected {
  background: #1787e0;
  color: #fff !important;
}
.test-school-desc {
  padding: 3.125rem 0;
  color: #d6d6d6;
  text-align: center;
  letter-spacing: 1px;
  border: 1px solid #e5e5e5;
}
.test-school-desc i {
  display: inline-block;
  font-size: 3.5rem;
  line-height: 5rem;
  vertical-align: bottom;
  margin-bottom: .625rem;
}
.test-school-desc p {
  font-size: .875rem;
  line-height: 1.5rem;
  color: #999;
}
.test-school {
  display: none;
  width: 100%;
  min-height: 13.75rem;
}
.test-school-tips {
  width: 100%;
  border: 1px solid #a6e0ff;
  border-radius: 4px;
  overflow-wrap: break-word;
  background: #f0fbff;
  padding: .5rem .25rem .5rem 1rem;
  margin-bottom: .625rem;
  font-size: .875rem;
  color: #515a6e;
  line-height: 1rem;
}
.test-school ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  border: 1px solid #e9e9e9;
  line-height: 1.5625rem;
}
.test-school ul li {
  line-height: 1.5;
  font-size: 1rem;
  color: #999;
  padding: .75rem .625rem;
  border-bottom: 1px solid #e9e9e9;
  /* 移除white-space: nowrap，允许文本换行 */
  /* 确保每行的所有li高度一致 */
  align-self: stretch;
  display: flex;
  align-items: center;
}
.test-school ul li:first-child {
  grid-column: 1 / -1;
  font-weight: 700;
  padding: .625rem;
}
.test-school ul li:nth-child(n+2) .test-school-name {
  cursor: pointer;
  white-space: wrap;
  text-decoration: none;
  color: #1887e0;
}
.test-school-area {
  color: #1787e0;
}
.test-school-notice {
  width: 100%;
  height: 1.875rem;
  line-height: 1.875rem;
  padding: 1.25rem 0;
  font-size: .875rem;
  color: #999;
}

.footer {
  width: 100%;
  margin-top: 1.875rem;
  background: #282828;
}
.footer-container {
  display: none;
}
.footer-container-2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1.875rem 0;
  line-height: 1.875rem;
  font-size: .875rem;
  color: #ababab;
  width: 100%;
  height: 12.5rem;
}
.footer-menu ul,
.footer-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .9375rem;
  list-style: none;
  margin-bottom: 1.25rem;
  cursor: pointer;
}
.footer-menu p,
.footer-social p {
  line-height: 2;
}
.footer-menu p span {
  display: inline-block;
  width: .9375rem;
  height: .9375rem;
  margin: 0 .3125rem 0 .5rem;
}
.footer-menu p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.footer-social p {
  margin-left: 1em;
}